SmartlyCodingExercise/SmartlyCodingExercise.Api.Test/bin/
SmartlyCodingExercise/SmartlyCodingExercise.Api.Test/obj/
SmartlyCodingExercise/SmartlyCodingExercise.Api/bin/
SmartlyCodingExercise/SmartlyCodingExercise.Api/obj/
SmartlyCodingExercise/SmartlyCodingExercise.Web/bin/
SmartlyCodingExercise/SmartlyCodingExercise.Web/obj/
SmartlyCodingExercise/.vs/
