@model EmployeeSalaryDetails

<div class="text-center" style="width: 50%; text-align: center;">    
    <partial name="_PartialPaySlip" />
    <p class="sal-info-item">@Html.ActionLink("Back", "Index")</p>
</div>
